@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Jacquard+24+Charted&family=Roboto+Slab:wght@100..900&family=Salsa&family=Sriracha&family=Teko:wght@300..700&display=swap');

/* html default setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 10px;
  }
  a{
    text-decoration: none;
  }
  ul,ol{
    list-style: none;
  }
  body{
    font-family: 'Sriracha' , serif;
  }
  /* end of html default setting */

  /* header section */
  
  header{
    background-color: #262227;
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    font-family: 'salsa' serif;
  }

  /* logo section */
  .logo h2{  
    font-size: 4rem;
    font-weight: 600;
    margin-left: 40px;
  }
  .special1{
    height: 20px;
    width: 30px;
    background-color: green;
    border-radius: 100%;
  }
  .special2{
    color: green;
  }
  /* end of logo section */
  
  /* begining of navbar section */

  nav{
    position: relative;
    background-color: #333; /* red green blue  color range is 0 - 256 */
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  #openMenu, #closeMenu{
    display: none;
  }
 
  nav li{
    display: inline-block;
  }

  #mainMenu{
    display: flex;
    gap: 50px;
    list-style: none;
   }

   nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    border-right: 5px solid #3ac153;
  }
   /* end of navbar section */

   /* begining of content of section */
  .content{
    background-color: #333;
    position: relative;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
  }
.bigimg {
  background-color: #3ac153;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background: url(./images/my\ al.jpg )  center/cover no-repeat;
  display: flex;
}
.subject{
  width: 35%;
  height: 400px;
  /* background-color: #3ac153; */
  font-size: 1.5rem;
  color: #f4f4f4;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.special3{
  color: #3ac153;
}
.special4{
  color: #3ac153;
}
.mylinks img{
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.mylinks a{
  color: green;
  cursor: pointer;
}
 /* end of content of section */
/* begining of evian section */
.servecon{
  display: flex;
  width: 100%;
  /* height: calc(30vh - 94px); */
  /* background-color: blueviolet; */
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.services{
  height: 150px;
  width: 100%;
  background-color: #262227ef;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
.services h4{
  color: green;
  font-size: 3rem;
}
.services p{
  color: #fff;
}
.container{
  height: calc(90vh);
  width: 100%;
  background-color: #333;
  position: relative;
  display: flex;
}
.mainbox{
  height: 80%;
  width: 80%;
  /* border: 1px solid gold; */
  margin: auto;
  display: flex;
  gap: 10px;
  position: relative;
  justify-content: center;

}
.box1{
  height: 100%;
  width: 50%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-items: center;
  font-size: 1.5rem;
  overflow: hidden;
  background-color: #2622278c;
  border-radius: 10px;
  
}
.box1 img{
  height: 150px;
  width: 150px;
  margin-left: 130px;
}
.box1 h4{
  color: #fff;
}
.box1 p{
  color: #fff;
}
.box2{
  height: 100%;
  width: 50%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-items: center;
  font-size: 1.5rem;
  overflow: hidden;
  background-color: #2622278c;
  border-radius: 10px;
}
.box2 img{
  height: 150px;
  width: 150px;
  margin-left: 130px;
}
.box2 h4{
  color: #fff;
}
.box2 p{
  color: #fff;
}
.box3{
  height: 100%;
  width: 50%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-items: center;
  font-size: 1.5rem;
  overflow: hidden;
  background-color: #2622278c;
  border-radius: 10px;
}
.box3 img{
  height: 150px;
  width: 150px;
  margin-left: 130px;
}
.box3 h4{
  color: #fff;
}
.box3 p{
  color: #fff;
}
.evian{
  display: flex;
  /* height: calc(100vh - 95px); */
  width: 100%;
  /* height: calc(30vh - 94px); */
  /* background-color: blueviolet; */
  text-align: center;
  flex-direction: row;
}
.icon1{
  height: 90%;
  width: 33%;
  justify-items: center;
  background-color: aliceblue;
  margin-left: 5px;
  border-radius: 2lvh;
  cursor: pointer;
  margin-top: 7px;
}
.icon1:hover{
  background-color: rgb(247, 192, 138);
  color: #333;
}
.fa-envelope{
  font-size: 80px;
  color: #3ac153;
}
.icon2{
  height: 90%;
  width: 33%;
  justify-items: center;
  background-color: aliceblue;
  margin-left: 5px;
  border-radius: 2lvh;
  cursor: pointer;
   margin-top: 7px;
}
.icon2:hover{
  background-color: rgb(247, 192, 138);
  color: #333;
}
.fa-github{
  font-size: 80px;
  color: #3ac153;
}
h5{
  font-size: 20px;
}
.icon3{
  height: 90%;
  width: 33%;
  justify-items: center;
  background-color: aliceblue;
  margin-left: 5px;
  border-radius: 2lvh;
  cursor: pointer;
   margin-top: 7px;
}
.icon3:hover{
  background-color: rgb(247, 192, 138);
  color: #333;
}
.fa-phone-volume{
  font-size: 80px;
  color: #3ac153;
}
/* end of evian of section */

/* beginning of footer section */

.footer{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
}



@media screen and (max-width: 320px) {
   nav{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
  }
  #openMenu, #closeMenu{
  display: block;
  }
  #mainMenu{
    display: none;
    height: 80vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    z-index: 10;
  }
  #closeMenu{
    position: absolute;
    top: 40px;
    right: 30px;
  }
  
}

@media screen and (max-width: 375px) {
  nav{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
  }
  #openMenu, #closeMenu{
  display: block;
  }
  #mainMenu{
    display: none;
    height: 80vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    z-index: 10;
  }
  #closeMenu{
    position: absolute;
    top: 40px;
    right: 30px;
  }
}   
